<!-- START PRICING DESIGN AREA -->
<section id="works" class="projects-area">
    <div class="container">
        <div class="container-inner">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="section-title text-center wow fadeInUp delay-0-2s">
                        <p>Company I work</p>
                        <h2>Work Expiriences</h2>
                    </div>
                </div>
            </div>
            <style>
            </style>
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12">
                    <div class="pricing-item wow fadeInUp delay-0-2s">
                        <div class="pricing-header">
                            <div class="text-content">
                                <h4 class="title">WBridges Inc. & Everlounge Inc. HY</h4>
                                <h5>Backend Developer</h5>
                                <p class="save-percent">
                                    2023 - PRESENT
                                </p>
                            </div>
                            <div class="logo-container">
                                <img src="https://www.cavitejobs.net/jobscloud?format=nothtml&cId=ODY1MTU=" alt="Logo"
                                    class="work-logo">
                            </div>
                        </div>

                        <div class="pricing-details">
                            <ul>
                                <li><i class="ri-arrow-right-line"></i>Designed and developed
                                    scalable web applications using CSS, HTML,
                                    JAVASCRIPT, PHP, Laravel, CodeIgniter, Vue, Redis, GIT, MySQL and
                                    MariaDB.</li>
                                <li><i class="ri-arrow-right-line"></i>
                                    Created and implemented RESTful APIs for seamless communication
                                    between front-end and back-end systems. </li>
                                <li><i class="ri-arrow-right-line"></i>Analyzed proposed technical
                                    solutions based on customer
                                    requirements.</li>
                                <li><i class="ri-arrow-right-line"></i>Collaborated with product
                                    managers to prioritize and deliver new
                                    features on schedule.</li>
                                <li><i class="ri-arrow-right-line"></i>Managed version control using
                                    Git and Gitlab to ensure smooth
                                    collaboration and code integrity.</li>
                                <li><i class="ri-arrow-right-line"></i>Implemented and maintained
                                    CI/CD pipelines to automate testing,
                                    deployment, and delivery processes.</li>
                                <li><i class="ri-arrow-right-line"></i>Integrated and managed Nginx
                                    server for file management.</li>
                                <li><i class="ri-arrow-right-line"></i>Conducted code reviews,
                                    identified bugs, and applied necessary fixes
                                    to maintain code quality and efficiency</li>
                            </ul>
                            <!-- <a href="#" class="theme-btn">Order Now <i class="ri-shopping-basket-line"></i></a> -->
                        </div>
                        <div class="testi-des">
                            <h5>Development Stack</h5>
                            <span>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/bootstrap.png') }}"
                                        alt="Bootstrap" class="tech-icon"> Bootstrap
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/css.png') }}"
                                        alt="CSS" class="tech-icon"> CSS
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/javascript.png') }}"
                                        alt="Javascript" class="tech-icon"> Javascript
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/skill3.png') }}"
                                        alt="Photoshop" class="tech-icon"> Photoshop
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/vue-js.png') }}"
                                        alt="Vuejs" class="tech-icon"> Vuejs
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/jquery.png') }}"
                                        alt="Jquery" class="tech-icon"> Jquery
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/livewire.ico') }}"
                                        alt="Livewire" class="tech-icon"> Livewire
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/filament.png') }}"
                                        alt="Filament" class="tech-icon"> Filament
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/php.png') }}"
                                        alt="PHP" class="tech-icon"> PHP
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/puppeteer.svg') }}"
                                        alt="Puppeteer" class="tech-icon"> Puppeteer
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/laravel.png') }}"
                                        alt="Laravel" class="tech-icon"> Laravel
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/skill4.png') }}"
                                        alt="Wordpress" class="tech-icon"> Wordpress
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/codeigniter.png') }}"
                                        alt="CodeIgniter" class="tech-icon"> CodeIgniter
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/thinkphp.ico') }}"
                                        alt="ThinkPHP" class="tech-icon"> ThinkPHP
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/nodejs.png') }}"
                                        alt="nodejs" class="tech-icon"> nodejs
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/skill7.png') }}"
                                        alt="Flask" class="tech-icon"> Flask
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/mysql.png') }}"
                                        alt="Mysql" class="tech-icon"> Mysql
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/mariadb.png') }}"
                                        alt="MariaDB" class="tech-icon"> MariaDB
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/nginx.png') }}"
                                        alt="Nginx" class="tech-icon"> Nginx
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/docker.png') }}"
                                        alt="Docker" class="tech-icon"> Docker
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/github.png') }}"
                                        alt="Git" class="tech-icon"> Git
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/laragon.svg') }}"
                                        alt="Laragon" class="tech-icon"> Laragon
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/xampp.png') }}"
                                        alt="XAMPP" class="tech-icon"> XAMPP
                                </div>

                            </span>
                        </div>

                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="pricing-item wow fadeInUp delay-0-2s">
                        <div class="pricing-header">
                            <div class="text-content">
                                <h4 class="title">Infinite Evolution Technology Incorporation</h4>
                                <h5>Fullstack Developer(ASP .NET C#) & 2d Game Developer</h5>
                                <p class="save-percent">
                                    OCT 2022- JAN 2023
                                </p>
                            </div>
                        </div>

                        <div class="pricing-details">
                            <ul>
                                <li><i class="ri-arrow-right-line"></i>Developed and maintained a scalable web
                                    application using C# ASP.
                                    NET, Cocos2dx, Lua and MSSQL.
                                </li>
                                <li><i class="ri-arrow-right-line"></i> Developed and maintained a scalable mobile game
                                    application using
                                    Cocos2dx and Lua.
                                </li>
                                <li><i class="ri-arrow-right-line"></i>Implemented and optimized RESTful APIs for
                                    efficient communication
                                    between the front-end and back-end of the game.
                                </li>
                                <li><i class="ri-arrow-right-line"></i>Managed version control using SVN, Git and
                                    Bitbucket to ensure
                                    smooth collaboration and code integrity.
                                </li>
                                <li><i class="ri-arrow-right-line"></i>Implemented and maintained CI/CD pipelines to
                                    automate testing,
                                    deployment, and delivery processes.</li>
                            </ul>
                        </div>
                        <div class="testi-des">
                            <h5>Development Stack</h5>
                            <span>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/bootstrap.png') }}"
                                        alt="Bootstrap" class="tech-icon"> Bootstrap
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/css.png') }}"
                                        alt="CSS" class="tech-icon"> CSS
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/javascript.png') }}"
                                        alt="Javascript" class="tech-icon"> Javascript
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/cocos2dx.png') }}"
                                        alt="cocos2dx" class="tech-icon"> Cocos2dx
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/lua.png') }}"
                                        alt="lua" class="tech-icon"> Lua
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/csharp.png') }}"
                                        alt="csharp" class="tech-icon"> C#
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/asp.png') }}"
                                        alt="asp" class="tech-icon"> ASP .NET
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/mssql.png') }}"
                                        alt="mssql" class="tech-icon"> MSSQL
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/bitbucket.png') }}"
                                        alt="bitbucket" class="tech-icon"> Bitbucket
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/svn.png') }}"
                                        alt="svn" class="tech-icon"> SVN
                                </div>

                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="pricing-item wow fadeInUp delay-0-2s">
                        <div class="pricing-header">
                            <div class="text-content">
                                <h4 class="title">KYNATECH Codennected Technologies Co.</h4>
                                <h5>Fullstack Developer</h5>
                                <p class="save-percent">
                                    JUNE 2022 - SEPT 2022
                                </p>
                            </div>
                            <div class="logo-container">
                                <img src="https://scontent.fmnl15-1.fna.fbcdn.net/v/t39.30808-6/462839119_3868175913461664_884652151857415867_n.png?_nc_cat=102&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=sJyHqs_nETcQ7kNvgGqLXT8&_nc_zt=23&_nc_ht=scontent.fmnl15-1.fna&_nc_gid=7R3PZ6jmJ2Y2SO62Tcq4bA&oh=00_AYHZOQform_Nm6ZZy_IwQ0MvUGxMyVrQ285ZaRC-pmWz4Q&oe=67F18D00"
                                    alt="Logo" class="work-logo">
                            </div>
                        </div>

                        <div class="pricing-details">
                            <ul>
                                <li><i class="ri-arrow-right-line"></i>Developed and maintained PMHA website using
                                    Next.js, and Node.js with Tailwind CSS. </li>
                                <li><i class="ri-arrow-right-line"></i>Modified and enhanced features for GSAC and
                                    Nimble apps using PHP CodeIgniter 3.0. </li>
                                <li><i class="ri-arrow-right-line"></i>Integrated APIs and optimized front-end and
                                    back-end performance. </li>
                                <li><i class="ri-arrow-right-line"></i>Enhanced user experience by developing and
                                    implementing a responsive front-end interface for web applications. </li>
                                <li><i class="ri-arrow-right-line"></i>Reviewed code, debugged problems, and corrected
                                    issues. </li>
                                <li><i class="ri-arrow-right-line"></i>Refactored legacy codebases to modernize software
                                    architecture and improve maintainability. </li>
                                <li><i class="ri-arrow-right-line"></i>Managed development milestones from initial steps
                                    through final delivery. </li>
                            </ul>
                        </div>
                        <div class="testi-des">
                            <h5>Development Stack</h5>
                            <span>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/bootstrap.png') }}"
                                        alt="Bootstrap" class="tech-icon"> Bootstrap
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/css.png') }}"
                                        alt="CSS" class="tech-icon"> CSS
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/javascript.png') }}"
                                        alt="Javascript" class="tech-icon"> Javascript
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/tailwind-css.png') }}"
                                        alt="tailwind-css" class="tech-icon"> Tailwind
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/nextjs.png') }}"
                                        alt="nextjs" class="tech-icon"> Nextjs
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/php.png') }}"
                                        alt="php" class="tech-icon"> PHP
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/codeigniter.png') }}"
                                        alt="codeigniter" class="tech-icon"> Codeigniter
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/nodejs.png') }}"
                                        alt="nodejs" class="tech-icon"> Nodejs
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/mysql.png') }}"
                                        alt="mysql" class="tech-icon"> Mysql
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/github.png') }}"
                                        alt="github" class="tech-icon"> Github
                                </div>
                                <div class="work-icon">
                                    <img src="https://strapi-icons-list-viewer.vercel.app/favicon.ico" alt="vercel"
                                        class="tech-icon"> Vercel
                                </div>

                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="pricing-item wow fadeInUp delay-0-2s">
                        <div class="pricing-header">
                            <div class="text-content">
                                <h4 class="title">Digima Web Solutions</h4>
                                <h5>Junior Software Developer</h5>
                                <p class="save-percent">
                                    AUG 2021 - JUNE 2022
                                </p>
                            </div>
                            <div class="logo-container">
                                <img src="https://scontent.fmnl15-1.fna.fbcdn.net/v/t39.30808-6/462839119_3868175913461664_884652151857415867_n.png?_nc_cat=102&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=sJyHqs_nETcQ7kNvgGqLXT8&_nc_zt=23&_nc_ht=scontent.fmnl15-1.fna&_nc_gid=7R3PZ6jmJ2Y2SO62Tcq4bA&oh=00_AYHZOQform_Nm6ZZy_IwQ0MvUGxMyVrQ285ZaRC-pmWz4Q&oe=67F18D00"
                                    alt="Logo" class="work-logo">
                            </div>
                        </div>

                        <div class="pricing-details">
                            <ul>
                                <li><i class="ri-arrow-right-line"></i>Contributed to the successful launch of a new
                                    software product by assisting with the design, development, and implementation
                                    phases.</li>
                                <li><i class="ri-arrow-right-line"></i>Participated in code reviews, ensuring adherence
                                    to established guidelines and promoting knowledge sharing among team members. </li>
                                <li><i class="ri-arrow-right-line"></i>Developed appyourservice.io from scratch using
                                    PHP Laravel, AJAX, jQuery, JavaScript, and Bootstrap. </li>
                                <li><i class="ri-arrow-right-line"></i>Built and optimized database structures for
                                    improved application performance.</li>
                                <li><i class="ri-arrow-right-line"></i>Conducted code reviews and debugging to maintain
                                    code quality.</li>
                            </ul>
                        </div>
                        <div class="testi-des">
                            <h5>Development Stack</h5>
                            <span>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/bootstrap.png') }}"
                                        alt="Bootstrap" class="tech-icon"> Bootstrap
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/css.png') }}"
                                        alt="CSS" class="tech-icon"> CSS
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/javascript.png') }}"
                                        alt="Javascript" class="tech-icon"> Javascript
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/php.png') }}"
                                        alt="php" class="tech-icon"> PHP
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/laravel.png') }}"
                                        alt="laravel" class="tech-icon"> Laravel
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/mysql.png') }}"
                                        alt="mysql" class="tech-icon"> Mysql
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/github.png') }}"
                                        alt="github" class="tech-icon"> Github
                                </div>
                                <div class="work-icon">
                                    <img src="https://play-lh.googleusercontent.com/jVRHbixN3tAbFHpcWEBpudBv2Pf4BWCjVOV9iGhpGD7hCIYYflG2WkfoGpPkvPlaXcM"
                                        alt="Dragonpay" class="tech-icon"> Dragonpay
                                </div>

                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="pricing-item wow fadeInUp delay-0-2s">
                        <div class="pricing-header">
                            <div class="text-content">
                                <h4 class="title">Hammerulo Data Corporation</h4>
                                <h5>FullStack Web Developer Intern</h5>
                                <p class="save-percent">
                                    FEB 2020 - April 2020
                                </p>
                            </div>
                            <div class="logo-container">
                                <img src="https://media.licdn.com/dms/image/v2/C560BAQFKEUpJuq3qYw/company-logo_200_200/company-logo_200_200/0/1630667612420?e=2147483647&v=beta&t=GXL-9dZfhg1B5G97mTYtPX6ipJRLRTmlNV0YeQdPlB8"
                                    alt="Logo" class="work-logo">
                            </div>
                        </div>

                        <div class="pricing-details">
                            <ul>
                                <li><i class="ri-arrow-right-line"></i>Contributed to open-source projects, gaining valuable experience working on large-scale software development efforts using Laravel frameworks.</li>
                                <li><i class="ri-arrow-right-line"></i>Enhanced user experience by designing and implementing responsive web applications using HTML, CSS, and JavaScript. </li>
                                <li><i class="ri-arrow-right-line"></i>Collaborated with cross-functional teams to ensure seamless integration between front-end and back-end systems. </li>
                                <li><i class="ri-arrow-right-line"></i>Integrated third-party APIs, enabling seamless data exchange between applications and improving overall functionality.</li>
                                <li><i class="ri-arrow-right-line"></i>Modified and fixed bugs in a JIRA-based system using PHP Laravel.</li>
                                <li><i class="ri-arrow-right-line"></i>Implemented AJAX and jQuery functionalities to enhance user experience.</li>
                                <li><i class="ri-arrow-right-line"></i>Assisted in debugging and improving web application performance.</li>
                            </ul>
                        </div>
                        <div class="testi-des">
                            <h5>Development Stack</h5>
                            <span>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/bootstrap.png') }}"
                                        alt="Bootstrap" class="tech-icon"> Bootstrap
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/css.png') }}"
                                        alt="CSS" class="tech-icon"> CSS
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/javascript.png') }}"
                                        alt="Javascript" class="tech-icon"> Javascript
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/php.png') }}"
                                        alt="php" class="tech-icon"> PHP
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/laravel.png') }}"
                                        alt="laravel" class="tech-icon"> Laravel
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/mysql.png') }}"
                                        alt="mysql" class="tech-icon"> Mysql
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/github.png') }}"
                                        alt="github" class="tech-icon"> Github
                                </div>
                                <div class="work-icon">
                                    <img src="https://w1.pngwing.com/pngs/762/217/png-transparent-mysql-logo-lamp-apache-http-server-computer-servers-linux-installation-php-web-server.png"
                                        alt="lamp" class="tech-icon"> LAMP
                                </div>
                                <div class="work-icon">
                                    <img src="{{ url_for('static', filename='assets/images/skills/linux.png') }}"
                                        alt="linux" class="tech-icon"> Linux
                                </div>
                                <div class="work-icon">
                                    <img src="https://w7.pngwing.com/pngs/992/738/png-transparent-jira-hd-logo-thumbnail.png"
                                        alt="Jira" class="tech-icon"> Jira
                                </div>

                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>