<section id="about" class="about-area content ">
    <div class="container">
        <div class="row">
            <!-- START ABOUT IMAGE DESIGN AREA -->
            <div class="col-lg-4">
                <div class="about-image-part wow fadeInUp delay-0-3s">
                    <div class="about-image-part2">
                        <img src="assets/images/about/profile.jpg" alt="About Me" />
                    </div>
                    <h2>Jonart Olicia</h2>
                    <p>Fullstack Developer</p>
                    <div class="about-social text-center">
                        <ul>
                            <li><a href=""><i class="ri-facebook-circle-fill"></i></a></li>
                            <li><a href=""><i class="ri-twitter-x-line"></i></a></li>
                            <li><a href=""><i class="ri-linkedin-fill"></i></a></li>
                            <li><a href=""><i class="ri-github-line"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- / END ABOUT IMAGE DESIGN AREA -->
            <!-- START ABOUT TEXT DESIGN AREA -->
            <div class="col-lg-8">
                <div class="about-content-part wow fadeInUp delay-0-2s">
                    <p>Hello There!</p>
                    <h2>
                        I’m <span>Jonart Olicia</span>
                    </h2>
                    <h4>A FullStack Developer with 4 years of experience, skilled in both backend and frontend
                        development. Proficient in multiple programming languages, I thrive in collaborative
                        environments, combining technical expertise with strong communication. Passionate about
                        continuous learning, I stay ahead in the evolving tech industry.</h4>

                    <div class="adress-field">
                        <ul>
                            <li><i class="ri-circle-fill"></i>Available for Freelancing</li>
                        </ul>
                    </div>
                    <div class="hero-btns">
                        <button type="button" onclick="downloadFile()" class="theme-btn">Download CV <i
                                class="ri-download-line"></i></button>
                        <script>
                        </script>
                    </div>
                </div>
                <!-- <div class="about-content-part-bottom wow fadeInUp delay-0-2s">
                    <div class="company-list">
                        <div class="scroller" data-direction="left" data-speed="slow">
                            <div class="scroller__inner">
                                <h4>Full Web Stack Developer with 4 years of experience. Proficient in a wide
                                array of programming languages, I excel in both backend and frontend
                                development. A collaborative team player, I navigate the development
                                process seamlessly, bringing technical expertise and effective
                                communication to the table. Continuous improvement is my mantra,
                                ensuring I stay ahead in the ever-evolving tech landscape. Let's connect
                                and explore how my skills can contribute to your projects!</h4>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <!-- / END ABOUT TEXT DESIGN AREA -->
        </div>
    </div>
</section>