<!-- START RESUME EXPERIENCE DESIGN AREA -->
<section id="education" class="resume-area">
    <div class="container">
        <div class="resume-items">
            <div class="row">
                <!-- // END EXPERIENCE RESUME DESIGN AREA -->
                <!-- START EDUCATION RESUME DESIGN AREA -->
                <div class="col-xl-12 col-md-12">
                    <div class="experience-list">
                        <div class="single-resume">
                            <h2>Education</h2>
                            <!-- START SINGLE RESUME DESIGN AREA -->
                            <div class="resume-item wow fadeInUp delay-0-3s">
                                <div class="icon">
                                    <i class="ri-book-line"></i>
                                </div>
                                <div class="content">
                                    <span class="years">2015 - 2020</span>
                                    <h4>Bachelor of Science in Information Technology</h4>
                                    <span class="company">STI College Paranañaque
                                    </span>
                                </div>
                            </div>
                            <div class="resume-item wow fadeInUp delay-0-3s">
                                <div class="icon">
                                    <i class="ri-book-line"></i>
                                </div>
                                <div class="content">
                                    <span class="years">2011 - 2012</span>
                                    <h4>Computer Programming NCIV & Computer Hardware Servicing</h4>
                                    <span class="company">Unicyber College of Science in Information Technology - TESDA
                                    </span>
                                </div>
                            </div>
                            <div class="resume-item wow fadeInUp delay-0-3s">
                                <div class="icon">
                                    <i class="ri-book-line"></i>
                                </div>
                                <div class="content">
                                    <span class="years">2010 - 2012</span>
                                    <h4>Building Wiring Installation/Electrical Technology </h4>
                                    <span class="company">Parañaque City College of Science and Technology
                                    </span>
                                </div>
                            </div>
                            <!-- / END SINGLE RESUME DESIGN AREA -->
                            <!-- START SINGLE RESUME DESIGN AREA -->
                            <div class="resume-item wow fadeInUp delay-0-3s">
                                <div class="icon">
                                    <i class="ri-book-line"></i>
                                </div>
                                <div class="content">
                                    <span class="years">2006 - 2010</span>
                                    <h4>Higher secoundery Education </h4>
                                    <span class="company">Parañaque National HighSchool(Main)</span>
                                </div>
                            </div>
                            <!-- / END SINGLE RESUME DESIGN AREA -->
                            <!-- START SINGLE RESUME DESIGN AREA -->
                            <div class="resume-item wow fadeInUp delay-0-3s">
                                <div class="icon">
                                    <i class="ri-book-line"></i>
                                </div>
                                <div class="content">
                                    <span class="years">2000 - 2006</span>
                                    <h4>Primary School</h4>
                                    <span class="company"> Fourth Estate Elementary School </span>
                                </div>
                            </div>
                            <!-- / END SINGLE RESUME DESIGN AREA -->
                        </div>
                    </div>
                </div>
                <!-- // END EDUCATION RESUME DESIGN AREA -->
            </div>
        </div>
    </div>
</section>
<!-- / END RESUME EXPERIENCE DESIGN AREA -->