<!-- START SKILL DESIGN AREA -->
<section id="skills" class="skill-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12">
                <div class="section-title text-center mb-60 wow fadeInUp delay-0-2s">
                    <p>Pro Skills</p>
                    <h2>Let’s Explore My Skills</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="skill-items-wrap">
                    <div class="section-title text-center mb-60 wow fadeInUp delay-0-2s">
                        <h4>Frontend</h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-2s">
                                <img src="assets/images/skills/bootstrap.png"
                                    alt="Skill" />
                                <h5>Bootstrap</h5>
                                <!-- <span class="percent">99%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-2s">
                                <img src="assets/images/skills/alpine-js.png"
                                    alt="Skill" />
                                <h5>AlpineJS</h5>
                                <!-- <span class="percent">99%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-3s">
                                <img src="assets/images/skills/tailwind-css.png"
                                    alt="Skill" />
                                <h5>Tailwind</h5>
                                <!-- <span class="percent">93%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-5s">
                                <img src="assets/images/skills/css.png"
                                    alt="Skill" />
                                <h5>CSS</h5>
                                <!-- <span class="percent">84%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-3s">
                                <img src="assets/images/skills/javascript.png"
                                    alt="Skill" />
                                <h5>Javascript</h5>
                                <!-- <span class="percent">96%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-3s">
                                <img src="assets/images/skills/puppeteer.svg"
                                    alt="Skill" />
                                <h5>Puppeteer</h5>
                                <!-- <span class="percent">96%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-4s">
                                <img src="assets/images/skills/skill3.png"
                                    alt="Skill" />
                                <h5>Photoshop</h5>
                                <!-- <span class="percent">53%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-5s">
                                <img src="assets/images/skills/nextjs.png"
                                    alt="Skill" />
                                <h5>Nextjs</h5>
                                <!-- <span class="percent">74%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-2s">
                                <img src="assets/images/skills/vue-js.png"
                                    alt="Skill" />
                                <h5>Vuejs</h5>
                                <!-- <span class="percent">95%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-4s">
                                <img src="assets/images/skills/jquery.png"
                                    alt="Skill" />
                                <h5>Jquery</h5>
                                <!-- <span class="percent">52%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-5s">
                                <img src="assets/images/skills/cocos2dx.png"
                                    alt="Skill" />
                                <h5>Cocos2dx</h5>
                                <!-- <span class="percent">84%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-5s">
                                <img src="assets/images/skills/livewire.ico"
                                    alt="Skill" />
                                <h5>Livewire</h5>
                                <!-- <span class="percent">84%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-5s">
                                <img src="assets/images/skills/filament.png"
                                    alt="Skill" />
                                <h5>Filament</h5>
                                <!-- <span class="percent">84%</span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="skill-items-wrap">
                    <div class="section-title text-center mb-60 wow fadeInUp delay-0-2s">
                        <h4>Backend</h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-2s">
                                <img src="assets/images/skills/php.png"
                                    alt="Skill" />
                                <h5>PHP</h5>
                                <!-- <span class="percent">99%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-3s">
                                <img src="assets/images/skills/laravel.png"
                                    alt="Skill" />
                                <h5>Laravel</h5>
                                <!-- <span class="percent">93%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-4s">
                                <img src="assets/images/skills/livewire.ico"
                                    alt="Skill" />
                                <h5>Livewire</h5>
                                <!-- <span class="percent">53%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-5s">
                                <img src="assets/images/skills/filament.png"
                                    alt="Skill" />
                                <h5>Filament</h5>
                                <!-- <span class="percent">84%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-5s">
                                <img src="assets/images/skills/skill4.png"
                                    alt="Skill" />
                                <h5>WordPress</h5>
                                <!-- <span class="percent">74%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-2s">
                                <img src="assets/images/skills/codeigniter.png"
                                    alt="Skill" />
                                <h5>Codeigniter</h5>
                                <!-- <span class="percent">95%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-3s">
                                <img src="assets/images/skills/csharp.png"
                                    alt="Skill" />
                                <h5>C#</h5>
                                <!-- <span class="percent">96%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-4s">
                                <img src="assets/images/skills/asp.png"
                                    alt="Skill" />
                                <h5>ASP .Net</h5>
                                <!-- <span class="percent">52%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-5s">
                                <img src="assets/images/skills/thinkphp.ico"
                                    alt="Skill" />
                                <h5>ThinkPHP</h5>
                                <!-- <span class="percent">84%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-4s">
                                <img src="assets/images/skills/nodejs.png"
                                    alt="Skill" />
                                <h5>Nodejs</h5>
                                <!-- <span class="percent">52%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-4s">
                                <img src="assets/images/skills/lua.png"
                                    alt="Skill" />
                                <h5>Lua</h5>
                                <!-- <span class="percent">52%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-4s">
                                <img src="assets/images/skills/skill7.png"
                                    alt="Skill" />
                                <h5>Flask</h5>
                                <!-- <span class="percent">52%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-4s">
                                <img src="assets/images/skills/mysql.png"
                                    alt="Skill" />
                                <h5>Mysql</h5>
                                <!-- <span class="percent">52%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-4s">
                                <img src="assets/images/skills/mariadb.png"
                                    alt="Skill" />
                                <h5>MariaDB</h5>
                                <!-- <span class="percent">52%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-4s">
                                <img src="assets/images/skills/mssql.png"
                                    alt="Skill" />
                                <h5>MSSQL</h5>
                                <!-- <span class="percent">52%</span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="skill-items-wrap">
                    <div class="section-title text-center mb-60 wow fadeInUp delay-0-2s">
                        <h4>Server</h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-2s">
                                <img src="assets/images/skills/nginx.png"
                                    alt="Skill" />
                                <h5>Nginx</h5>
                                <!-- <span class="percent">99%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-3s">
                                <img src="assets/images/skills/docker.png"
                                    alt="Skill" />
                                <h5>Docker</h5>
                                <!-- <span class="percent">93%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-5s">
                                <img src="assets/images/skills/github.png"
                                    alt="Skill" />
                                <h5>git</h5>
                                <!-- <span class="percent">74%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-5s">
                                <img src="https://strapi-icons-list-viewer.vercel.app/favicon.ico"
                                    alt="Skill" />
                                <h5>Vercel</h5>
                                <!-- <span class="percent">74%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-2s">
                                <img src="assets/images/skills/bitbucket.png"
                                    alt="Skill" />
                                <h5>Bitbucket</h5>
                                <!-- <span class="percent">95%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-3s">
                                <img src="assets/images/skills/linux.png"
                                    alt="Skill" />
                                <h5>Linux</h5>
                                <!-- <span class="percent">96%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-4s">
                                <img src="assets/images/skills/laragon.svg"
                                    alt="Skill" />
                                <h5>Laragon</h5>
                                <!-- <span class="percent">52%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-5s">
                                <img src="https://w1.pngwing.com/pngs/762/217/png-transparent-mysql-logo-lamp-apache-http-server-computer-servers-linux-installation-php-web-server.png"
                                    alt="Skill" />
                                <h5>LAMP</h5>
                                <!-- <span class="percent">84%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-5s">
                                <img src="assets/images/skills/xampp.png"
                                    alt="Skill" />
                                <h5>XAMPP</h5>
                                <!-- <span class="percent">84%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-5s">
                                <img src="assets/images/skills/svn.png"
                                    alt="Skill" />
                                <h5>SVN</h5>
                                <!-- <span class="percent">84%</span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                            <div class="skill-item wow fadeInUp delay-0-5s">
                                <img src="assets/images/skills/aws.png"
                                    alt="Skill" />
                                <h5>AWS</h5>
                                <!-- <span class="percent">84%</span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / END SKILL DESIGN AREA -->